# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

build*

*.swo
*.swp
*~

Makefile
cmake_install.cmake
CMakeFiles
CMakeCache.txt

*sublime*

